
body {
    font-family: Arial, sans serif;
    background: #f4f4f4;
} 
.timeline {
    position: relative;
    width: 400px;
    margin: 50px auto;
    padding-left: 40px;
}
/* Ligne verticale*/
.timeline::before {
content: "";
position:absolute;
left: 15px;
top: 0;
width: 4px;
height: 100%;
background: #333;
}

.event {
    position: relative;
    margin-bottom: 40px;
}

.date {
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    background: white;
    padding: 18px 22px;
    border-radius:14px;
    box-shadow: 0 8px 20px rgb(0,0,0,12);
}

.event::before {
    content:"";
    position: absolute;
    left: -30px;
    top: 5px;
    width: 14px;
    height: 14px;
    background: #333;
    border-radius: 50%;
} 

.barre_de_navigation{
color: black;
top: 20px;
right: 20px;
display: flex;
flex-direction: row;
gap: px;
justify-content: flex-end;
}