body {
    font-family:  Arial, sans-serif;
   
    padding: 40px;
}
body {
  height: 100vh;  
  background-image: linear-gradient(to right, #fffd89, #19547b);

  

}
/* Titre*/
h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* Conteneur*/
.contanier {
    max-width:  900px;
    margin: auto;
}
body {

display: grid;
grid-template-columns: repeat(auto-fit,minmax)(300px, 1fr);
gap: 25px;

}

/* Carte*/
.card {
    background: white;
    padding: 20px;
    border-radius: 16px;
   text-align: center; 

   box-shadow: 0 10px 25px rgba(0,0,0,0.12);
   transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);

}
/* Images rondes*/
.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.navigation a {
    font-size: 22px;
    white-space: nowrap;

}

.navigation a {
    margin-left: 18px;
    color: black;
    text-decoration: underline;
    
    
}

.navbar {
   display: flex;
   justify-content: flex-end;
   padding: 15px;
}

.Philanthrope {
display: flex;
gap: 20px;
padding-bottom: 20px;
}
.Philanthrope {
display: flex;
gap: 20px;
}

img {
border-radius: 5%;
}
p {
text-decoration: underline;
}