
body {
    height: 100vh;
    background-image: linear-gradient(to right, #fffd89, #19547b);

}

iframe {

    margin-top: 20px;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: none;

}
p {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  
}

h1 {
font-style: oblique;
font-size: 35px;
}

p {
 font-size: 15px;
 font-weight: 300px;
 border-radius: 10px;
}

.Philanthrope {
display: flex;
}

.image {
display: flex;
}